<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121572489765-our5fqjvajuhb93k5menii86ma31k39r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121572489765-our5fqjvajuhb93k5menii86ma31k39r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121572489765-102ud2lv795icqvvmcgm6nu0u0hipq4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDp0768AR2nQ5qa_7UWC2AQ4OAjraoW5FY</string>
	<key>GCM_SENDER_ID</key>
	<string>121572489765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HTT-APP</string>
	<key>PROJECT_ID</key>
	<string>htt-test-35177</string>
	<key>STORAGE_BUCKET</key>
	<string>htt-test-35177.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121572489765:ios:38d006941b8be2e4cfddcc</string>
</dict>
</plist>